.login {
  background-image: url(../picture/Fon.webp);
  @include flexColumnCenter(0);
  &__img {
    z-index: 10;
    margin-bottom: 10px;
  }
  &__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    letter-spacing: 0.02em;
    color: $colorTextMain;
  }
}

.form {
  padding-top: 195px;
  padding-bottom: 45px;
  &__title {
    color: $colorTextMain;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 34px;
    line-height: 118%;
  }
  &__input {
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid $colorTextMain;
    width: 100%;
    padding: 5px;
  }

  &__input::placeholder {
    color: $colorTextMain;
    font-weight: 600;
    font-size: 14px;
  }
  &__link {
    margin-bottom: 33px;
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    text-align: right;
    color: $colorTextMain;
    cursor: pointer;
    width: 100%;
  }

  &__button {
    @include buttonMain($colorPink);
  }
}
