.login {
  background-image: url(../picture/Fon.webp);
  display: flex;
  flex-direction: column;
  &__img {
    z-index: 10;
    margin-bottom: 10px;
  }
}

.form {
  padding-top: 165px;
  padding-bottom: 45px;
  &__title {
    font-weight: 600;
    font-size: 32px;
    color: $colorTextMain;
    margin-bottom: 20px;
  }
}
