.onboarding {
  background-image: url(../picture/Fon.webp);
  @include flexColumnCenter(0);
  padding-top: 69px;
  &__wrap {
    @include flexColumnLeft(0);
  }
  &__title {
    color: $colorTextMain;
    font-weight: 600;
    font-size: 48px;
    line-height: 108%;
    margin-bottom: 38px;
  }
  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: $colorTextMain;
    margin-bottom: 16px;
  }
  &__button {
    border: 1px solid $colorTextMain;
    border-radius: 32px;
    padding: 8px 24px;
    width: 175px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: $colorYellow;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 25px;
  }
}
