// // color
// $colorMain: rgba(26, 45, 47, 1);
$colorBlack: rgba(0, 0, 0, 0.2);
$colorTextMain: rgba(50, 28, 28, 1);
$colorPink: rgba(251, 210, 246, 1);
// $colorWhite: rgba(255, 255, 255, 1);
// $colorBeige: rgba(243, 238, 223, 0.4);
// $colorGreen: rgba(94, 103, 93, 1);
// width
$siteWidth: 375px;
// $siteWidthMin: 1096px;
// $siteWidthTable: 736px;
// $siteWidthMobile: 320px;
// $siteWidthMobileBig: 425px;

// // height

// // fontSize

// // font-family
// $titleFontFamily: "Aborento";
// $textFontFamily: "Roboto";
// // gap
// // padding
