// // color
$colorBlack: rgb(0, 0, 0);
$colorTextMain: rgba(50, 28, 28, 1);
$colorPink: rgba(251, 210, 246, 1);
// width
$siteWidth: 375px;
// $siteWidthMin: 1096px;
// $siteWidthTable: 736px;
// $siteWidthMobile: 320px;
// $siteWidthMobileBig: 425px;

// // height

// // fontSize

// // font-family
$textFontFamily: "Work Sans";
// // gap
// // padding
